#InputForm{
    background-color: #EDEDED;
    padding: 80px 0;
}
#InputForm .Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inputForm fieldset{
    display: block;
    overflow:hidden; 
    
    
}
#InputForm input{    
    width: 400px;
    border: 2px solid #3b3b3b;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
#InputForm fieldset input,#InputForm fieldset span{
    display: block;
}
#InputForm button{
    background-color: #269CE9;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin: 5px;
}
#InputForm button:hover{
    background-color: #15c68e;
    color: #fff600;
}

#InputForm fieldset:nth-child(5){
    margin: 0 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;

}
