.Container{
    max-width: 85%;
}
#Phone{
    display: none;      
}
#SliderBox{
    display: flex;
    justify-content: center;    
}
#SliderBox a{
    margin-right: 10px;
    margin-left: 10px;
}
#SliderBox a:nth-child(3){
    display: none;
}
#SliderBox a:nth-child(4){
    display: none;
}

header #NavBox{
    clear: both;
    position: absolute;
    display: block;
    width: 75%;
    background: #222222;
    top: 75px;
    overflow: hidden;
    height: 0px;
    transition: height 300ms ease-in;
    border-top: none;
}

header nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav ul li{
    margin: 10px 0;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}
header nav ul li a{   
    font-size: 20px;
    font-size: 25px;
    font-weight: 900;
    
    text-align: center;
    color: white;  
}
header nav ul li a:hover{
    color: tomato;
}
#KeyFeaturesBox{
    display: flex;
    flex-direction: column;
}  
#KeyFeaturesBox .Feature{
    width: 100%;
}
#ClientTestimonials #Ct3{
    padding: 0;
}
#Info #DateAndStuff,#SecondaryNav{
    margin-right: auto;
    margin-left: auto;
    display: block;
    float: left;
}
#Toggle{
    display: inline;
}
#Toggle #Button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: url('../img/toggle.png');
    background-size: cover;
    float: right;
    margin: 50px 0 0 0;
    position: relative;
}

.FooterBox{
    display: block;
    width: 100%;
}
.FooterBox form input[type=text]{
    width: 100%;
}

.FooterBox form input[type=text]:last-child{
    margin-top: 0px;
}
.FooterBox{
    display: flex;
    flex-direction: column;
}
.FooterBox #SearchSite{
    margin: 10px 0;
    margin-left: 0;
}
.FooterBox #SearchSite label{
    display: none;
}
.FooterBox #SearchSite input{
    width: 91%;
}
#HowToContact{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px 0;
}
#StayUpdated {
    width: 70%;
    text-align: center;
}
#StayUpdated #Social{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#InputForm input{    
    width: 200px;
    border: 2px solid #3b3b3b;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
