.Container{
    max-width: 650px;
}
header nav{
    display: inline;
    float: right;
    margin-left: 0;
}
header nav ul li a{
    font-size: 10px;
}
#KeyFeaturesBox{
    margin: 0;
    margin-bottom: 30px; 
}
#Slider{
    background-size: cover;
}
#SliderBox{
    display: flex;
    margin-top: 28px; 
    justify-content: space-around;
}
.Slide img{
    width: 120px;
    height: 120px; 
}
#SearchSite input{
    width: 90%;
}
#Phone{
    display: none;
}
#MainContent .Content{
    width: 100%;
}
#MainContent .Content h3{
    width: 70%;
}
#Login a{
    font-size: 8px;
}
#SearchSite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#SearchSite #Label{
    padding: 10px 0 5px 0;    
}
#AboutImages img{
    width: 150px;
}
